.card img {
    height: 300px !important;
    width: 280px !important;
}
.card {
    width: 17rem;

}
body{
    background-image: url(https://iasbh.tmgrup.com.tr/ae511c/650/344/0/29/769/433?u=https://isbh.tmgrup.com.tr/sbh/2023/02/01/uzay-sondasi-nedir-uzay-sondasi-ne-ise-yarar-insansiz-mi-gorevleri-ve-ozellikleri-neler-st1-1675242562169.jpg);
}
